.content{
    clear: both;
    height: calc(100% - 85px);
}

#sidebar{
    float: left;
    padding: 5px;
    
    width: 15%;
    
    border-right-style: solid;
    border-right-width: 1px;
    padding-right: 1%;

    overflow: auto;
    height: 100%;
    background-color: rgba(255, 216, 151, 0.66);
}

#page{
    float: left;
    padding: 5px;
    width: calc(85% - 30px);
    
    background-color: rgb(255, 244, 207);

    overflow: auto;
    height: 100%;
    
    position: relative;
}

#search-bar{
    width: 95%;
    height: 50px;
    padding: 40px 25px;
}

.search{
    padding: 7px 10px 7px 30px;
    width: 55%;
    margin-left: 20%;
    background: url(../img/utils/search_icon.png) no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    border-radius: 15px; 
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px;
    color: darkslategray;
    border-color: red;
    outline: none;
    font-size: 18px;
    background-color: cornsilk;
}

.minicover{
height: 100px;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
border-bottom: 1px solid #EBA2A2;
}

.label{
height: 30px;
text-align: center;
font-size: 12px;
line-height: 30px;
overflow: hidden;
text-transform: capitalize;
color: #8B0000;
font-weight: bold;
background-color: rgb(254, 228, 185);
}

table{
    position: relative;
    margin: auto;
    width: 60%;
}

.table-header{
    margin-left: 130px;
    margin-bottom: 25px;
    font-weight: bold;
    color: darkred;
    font-size: 25px;
}

.block{
    float: left;
    border-radius: 3px;
    width: 116px;
    border: 1px solid #EBA2A2;
    overflow: hidden;
    cursor: pointer;
    margin: 15px;
    transition: border-color 0.2s linear;
}

#back-to-cat{
    cursor: pointer;
}

.feed-header{
    margin-bottom: 5px;
    /* cursor: pointer; */
}

.feed-icon{
    width: 20px;
    height: 30px;
    border-radius: 3px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    float: left;
    margin-right: 10px;
}

.feed-name{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.04em;
    line-height: 30px;
    max-height: 30px;
    overflow: hidden;
    cursor: pointer;
    padding-top: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.feed-description{
    font-size: 13px;
    overflow: hidden;
    height: 51px;
    line-height: 17px;
    clear: both;
    margin-top: 10px;
    margin-bottom: px;
}

.add-feed-box{
    height: 10px;
    width: 240px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.add-feed-box > img{
    margin-left: 43%;
    height: 30px;
}

img.add-feed{
    cursor: pointer;
}

img.disabled-add-feed{
    cursor: initial;
}

.feed-box{
    margin-right: 34px;
    width: 240px;
    float: left;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 51px;
    height: 340px;
    padding-bottom: 0px;
    border: 1px solid #EBA2A2;
    background-color: rgba(255, 185, 185, 0.56);
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.feed-footer{
    width: 240px;
    height: 186px;
}

.article-box .article-image {
    width: 258px;
    height: 186px;
    overflow: hidden;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0px;
    border-radius: 0px;
}

.article-box .vignette{
    margin-top: -53px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    height: 32px;
    overflow: hidden;
    background-color: #FED2C2;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.article-title{
    max-height: 32px;
    overflow: hidden;
    position: relative;
    bottom: 0px;
    font-size: 12px;
    color: initial;
}

.article-box{
    width: 238px;
    height: 186px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
    border-width: 1px;
    border-style: solid; 
    border-color: #EBA2A2 #EBA2A2 #FE7575;
}

.article-box:hover{
    border-color: #999;
}

.feed-box-cat-choice{
    margin-right: 34px;
    margin-left: 200px;
    width: 240px;
    float: left;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 51px;
    height: 300px;
    padding-bottom: 0px;
    border: 1px solid #EBA2A2;
    background-color: #FED2C2;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box; 
}

.category-choice{
    margin-left: 60%;
    margin-top: 25px;
}

.category-choice input[type=radio]{
    margin-top: 10px;
    cursor: pointer;

}

.category-choice input[type=text]{
    font-size: 16px;
    border: inset 1px red;
}

.category-choice-header{
    font-size: 19px;
    color: darkred;
    margin-left: 125px;
}

button{
    cursor: pointer;
    margin-top: 32px;
    margin-left: 19%;
    width: 12em;
    padding: .5em;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    
    /* -webkit-box-shadow: 1px 1px 2px #999; */   // Safari
    box-shadow: 2px 2px 2px #bbb;
    
    background-color: #c54101;
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(#ffdbca), to(#c54101), color-stop(0.6, #8c1b0b));
    background-image: -moz-linear-gradient(top, #ffdbca 0%, #c54101 100%, #8c1b0b 60%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, #ffdbca 0%,#c54101 100%,#8c1b0b 60%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #ffdbca 0%,#c54101 100%,#8c1b0b 60%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, #ffdbca 0%,#c54101 100%,#8c1b0b 60%); /* IE10+ */
    background-image: linear-gradient(to bottom, #ffdbca 0%,#c54101 100%,#8c1b0b 60%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdbca', endColorstr='#8c1b0b',GradientType=0 ); /* IE6-9 */
}

.category{
    margin-bottom: 10px;
    clear: both;
    font-size: 14px;
    /* background-color: inherit; */
    overflow: hidden;
}

.feed{
    margin-left: 40px;
    clear: both;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 4px;
    border-radius: 30px;
    padding-left: 10px;
    padding-top: 3px;   
}

.navigation{
    width: 18px;
    height: 18px;
    
    cursor: pointer;
}

.navigation_arrow{
     float:left;
     padding: 5px;
}

.icon{
    width: 20px;
    height: 20px;
}

.cName{
    padding: 5px;
    float:left;
    margin-left: 3px;
    font-weight: bold; 
    color: darkred;
    cursor: pointer;
    background-color: inherit;
    border-radius: 30px;
    width: 78%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fName{
    text-shadow: 0px 1px darkred;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a{
    color: #816060;
    text-decoration: none;
}

h1{
    margin-left: 60px;
    margin-top: 25px;
    padding: 0px;
    font-size: 36px;
    letter-spacing: -0.04em;
    font-family: sans-serif;
}
.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;}

.top-menu{
    background-color: #fea5a5;
    width: 100%;
    height: 41px;
}

.menu-entry{
    cursor: pointer;
    
    float: left;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 3px;
    margin-left: 3px;
    height: 35px;
    
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.menu-entry div{
    float: left;
}

.menu-entry img{
    height: 32px;
    width: 32px;
}

.menu-entry .text-entry{
    margin-top: 7px;
    margin-left: 4px;
}

.menu-entry:hover, .selected-menu-entry{
    background-color: #fe8181;
}

.top-menu #logout{
    float: right;
    margin-right: 10px;
}

.top-menu #profile{
    float: right;
}

.timeline{
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.article-box-fs{
    clear: both;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.article-image-box-fs{
    float: left;
    width: 20%;
}

.article-title-fs{
    font-size: 17px;
    color: rgb(92, 21, 34);
}

.article-description-fs{
    float: left;
    width: 60%;
    margin-left: 43px;
}

.article-readbox-fs{
    float: left;
    width: 15%;
    height: 120px;
}

.envelope-img{
    width: 64px;     
    margin-top: 25%;
    margin-left: 25%;
    cursor: pointer;
}

.article-image-fs{
    width: 200px;
    height: 140px;
}

.article-summary-fs{
    font-size: 14px;
    height: 43px;
    margin-top: 7px;
}

.cat-name-fs{
    cursor: pointer;
}

.article-date-fs{
    font-size: 12px;
    font-style: italic;
    color: gray;
    margin-top: 5px;
}

.article-text{
    min-height: 120px;
    width: 95%;
}

#tv-commands{
    cursor: pointer;
    padding: 5px;
    background-color: #FFC7A4;
    border-radius: 30px;
}

h1.category-header, h1.home-header{
    color: #816060;
}

.paging{
    text-align: center;
}

.paging-header{
    padding-left: 5px;
    padding-right: 5px;
    
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    
    cursor: pointer;
}

.paging-header-selected{
    padding-left: 5px;
    padding-right: 5px;
    
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    
    background-color: rgb(255, 208, 168);
    color: red;
    font-weight: bold;   
    cursor: pointer;
}

.sidebar-header{
    margin-left: 11%;
    margin-top: 6%;
    font-size: 15px;
    color: darkred;
    font-style: italic;
}

.hidden{
    display: none;
}

#search-error{
    left: 37%;
    margin-top: initial;
    position: fixed;
    font-size: 22px;
    color: red;
}