.content{
    display: -webkit-box;        /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;           /* OLD - Firefox 19- (buggy but mostly works) */ 
    display: -ms-flexbox;        /* TWEENER - IE 10 */
    display: -webkit-flex;       /* NEW - Chrome */
    display: flex;               /* NEW, Spec - Opera 12.1, Firefox 20+ */
    
    clear: both;
}

#sidebar{
    float: left;
    margin: 5px;
    padding: 5px;
    
    width: 20%;
    
    -webkit-box-flex: 1;       /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;          /* OLD - Firefox 19- */
    -webkit-flex: 1;           /* Chrome */
    -ms-flex: 1;               /* IE 10 */
    flex: 1;                   /* NEW, Spec - Opera 12.1, Firefox 20+ */
    
    /*debug style*/
    border-color: black;
    border-style: solid;
}

#page{
    float: left;
    margin: 5px;
    padding: 5px;
    width: 80%;
    
    /*debug style*/
    border-color: black;
    border-style: solid;
    background-color: rgb(255, 248, 218);
}

#search-bar{
    width: 95%;
    height: 50px;
    padding: 40px 25px;
}

.search{
    padding: 7px 10px 7px 30px;
    width: 55%;
    margin-left: 20%;
    background: url(../img/utils/search_icon.png) no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    border-radius: 15px; 
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px;
    color: darkslategray;
    border-color: red;
    outline: none;
    font-size: 18px;
    background-color: cornsilk;
}

.minicover{
height: 100px;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
border-bottom: 1px solid #EBA2A2;
}

.label{
height: 30px;
text-align: center;
font-size: 12px;
line-height: 30px;
overflow: hidden;
text-transform: capitalize;
color: #494949;
font-weight: bold;
}

table{
    position: relative;
    margin: auto;
    width: 60%;
}

.table-header{
    margin-left: 130px;
    margin-bottom: 25px;
    font-weight: bold;
    color: darkslategray;
    font-size: 25px;
}

.block{
    float: left;
    border-radius: 3px;
    width: 116px;
    border: 1px solid #EBA2A2;
    overflow: hidden;
    cursor: pointer;
    margin: 15px;
    transition: border-color 0.2s linear;
}

#back-to-cat{
    cursor: pointer;
}

.feed-header{
    margin-bottom: 5px;
    cursor: pointer;
}

.feed-icon{
    width: 20px;
    height: 30px;
    border-radius: 3px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    float: left;
    margin-right: 10px;
}

.feed-name{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.04em;
    line-height: 30px;
    max-height: 30px;
    overflow: hidden;
    text-transform: capitalize;
    cursor: pointer;
    padding-top: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.feed-description{
    font-size: 13px;
    overflow: hidden;
    height: 51px;
    line-height: 17px;
    clear: both;
    margin-top: 10px;
    margin-bottom: px;
}

.add-feed-box{
    height: 10px;
    width: 240px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.add-feed-box > img{
    margin-left: 43%;
    height: 30px;
}

img.add-feed{
    cursor: pointer;
}

img.disabled-add-feed{
    cursor: initial;
}

.feed-box{
    margin-right: 34px;
    width: 240px;
    float: left;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 51px;
    height: 340px;
    padding-bottom: 0px;
    border: 1px solid #EBA2A2;
    background-color: #FFF;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.feed-footer{
    width: 240px;
    height: 186px;
}

.article-box .article-image {
    width: 258px;
    height: 186px;
    overflow: hidden;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-size: 240px 133px;
    border: 0px;
    border-radius: 0px;
}

.article-box .vignette{
    margin-top: -53px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    height: 32px;
    overflow: hidden;
    background-color: #FFF;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.article-title{
    max-height: 32px;
    overflow: hidden;
    position: relative;
    bottom: 0px;
    font-size: 12px;
}

.article-box{
    width: 238px;
    height: 186px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
    border-width: 1px;
    border-style: solid; 
    border-color: #EBA2A2 #EBA2A2 #FE7575;
}

.article-box:hover{
    border-color: #999;
}

.feed-box-cat-choice{
    margin-right: 34px;
    margin-left: 200px;
    width: 240px;
    float: left;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 51px;
    height: 300px;
    padding-bottom: 0px;
    border: 1px solid #EBA2A2;
    background-color: #FFF;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box; 
}

.category-choice{
    margin-left: 60%;
}

.category-choice input[type=radio]{
    margin-top: 10px;
    cursor: pointer;

}

.category-choice input[type=text]{
    font-size: 16px;
    border: inset 1px red;
}

button{
    cursor: pointer;
    margin-top: 75px;
    margin-left: 15%;
    width: 12em;
    padding: .5em;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    
    -webkit-box-shadow: 1px 1px 2px #999;   // Safari
    box-shadow: 2px 2px 2px #bbb;
    
    background-color: #c54101;
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(#ffdbca), to(#c54101), color-stop(0.6, #8c1b0b));
    background-image: -moz-linear-gradient(top, #ffdbca 0%, #c54101 100%, #8c1b0b 60%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, #ffdbca 0%,#c54101 100%,#8c1b0b 60%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #ffdbca 0%,#c54101 100%,#8c1b0b 60%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, #ffdbca 0%,#c54101 100%,#8c1b0b 60%); /* IE10+ */
    background-image: linear-gradient(to bottom, #ffdbca 0%,#c54101 100%,#8c1b0b 60%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdbca', endColorstr='#8c1b0b',GradientType=0 ); /* IE6-9 */
}

.category{
    margin-bottom: 15px;
    clear: both;
    font-size: 14px;
}

.feed{
    margin-left: 40px;
    margin-top: 10px;
    clear: both;
    
    cursor: pointer;
}

.navigation{
    width: 24px;
    height: 24px;
    
    cursor: pointer;
}

.navigation_arrow{
     float:left;
}

.icon{
    width: 20px;
    height: 20px;
}

.cName{
    float:left;
    margin-top: 3px;
    margin-left: 3px;
    
    cursor: pointer;
}

a{
    color: #816060;
    text-decoration: none;
}

h1{
    margin-left: 100px;
    margin-top: 25px;
    padding: 0px;
    text-transform: capitalize;
    font-size: 36px;
    letter-spacing: -0.04em;
    font-family: sans-serif;
}
.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;}

.article-image{
    width: 150px;
    height: 100px;
    vertical-align: middle;
}

.top-menu{
    background-color: #ddd;
    width: 100%;
    height: 41px;
}

.menu-entry{
    float: left;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 3px;
    margin-left: 3px;
}

.menu-entry div{
    float: left;
    cursor: pointer;
}

.menu-entry img{
    height: 32px;
    width: 32px;
}

.menu-entry .text-entry{
    margin-top: 7px;
    margin-left: 4px;
}

.top-menu #logout{
    float: right;
    margin-right: 10px;
}

.top-menu #profile{
    float: right;
}