#pageHeader {
    padding-top: 30pt;
    margin-right: 30pt;
    margin-left: 60pt;
}

#titleBar {
    font-size: 20pt;
    line-height: 18pt;
    font-weight: 700;
    font-family: sans-serif;
}

#mainArea {
    display: inline-block;
    margin-right: 30pt;
    margin-left: 30pt;
    position: relative;
}


.itemContentsHolder {
    display: inline-block;
    float:left;
    margin-left: 30pt;
    width: 250pt;
}

.itemContentsHolder h2 .categoryName {
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden; 
}

h2 {
    font-weight: 600;
    color: #816060;
    font-size: 16px;
    line-height: 1.4em;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-family: sans-serif;
}

.categoryName {
    display: inline;
}

.modCanc {
    display: inline-block;
    float: right;
    cursor: pointer;
}

.subscriptionContentsHolder {
    border: 1pt solid rgba(254, 118, 118, 0.66);
    padding: 5pt;
    min-height: 200pt;
    max-height: 200pt;
    border-radius: 2pt;
    overflow-y: auto;
}

.subscriptionContents {
    font-size: 10pt;
    height: 18pt;
    line-height: 18pt;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 2pt;
}

.feedName {
    display: inline-block;
    padding-left: 5pt;
    cursor: pointer;
    width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.feedId {
    display: none;
}

.newCategory {
    border: 1px dashed rgb(255, 119, 119);
    padding-top: 40px;
    padding-right: 17px;
    padding-bottom: 17px;
    padding-left: 17px;
    font-size: 13pt;
    text-align: center;
    line-height: 20pt;
    color: rgba(255, 85, 85, 0.9);
    min-height: 90pt;
    cursor: default;
}

.hovered {
    border: 1pt solid grey;
    background: lightgoldenrodyellow;
}

.feedIcon {
    float: left;
    margin-top: 4pt;
}

img.editCat, img.removeCat, img.removeFeed{
    height: 16px;
    
}
.editCat{
    margin-right: 10px;
}