.profile{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.info{
    width: 100%;
    overflow: hidden;
}

.profile-image{
    float: left;
    width: 40%;
}

.profile-modify{
    float: left;
    width: 40%;
    margin-top: 20px;
}

.errors{
}

.profile-form-row{
    clear: both;
    overflow: hidden;
    height: 30px;
}

.profile-form-label{
    float: left;
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
}

.profile-form-input{
    float: left;
    width: calc(60% - 30px);
    padding-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.profile-form-submit{
    margin-left: 170px;
}

.profile-form-input input{
    width: 170px;
}

.stats{
    margin-top: 50px;
    clear: both;
    width: 100%;
}

#left_arrow{
    height: 25pt;
    width: 25pt;
    display: inline-block;
    float: right;
}

#right_arrow{
    height: 25pt;
    width: 25pt;
    display: inline-block;
    float: right;
}